<template>
  <div ref="chart" class="echart"></div>
</template>

<script>
  import * as echarts from 'echarts'
  // import echarts from 'echarts'
  import 'echarts/lib/chart/bar' // 柱状图
  import 'echarts/lib/chart/line' // 折状图
  import 'echarts/lib/chart/pie' // 饼状图
  import 'echarts/lib/chart/radar' // 雷达图
  import 'echarts/lib/chart/map' // 地图
  import 'echarts/lib/chart/graph'
  import 'echarts/lib/component/tooltip' // tooltip提示框
  import 'echarts/lib/component/title' // 表格标题
  import 'echarts/lib/component/legend' // 筛选标签
  import 'echarts/lib/component/legendScroll' // 滚动图例
  import 'echarts/lib/component/dataZoom' // 缩放
  // import "echarts/map/js/china"; // 中国
  // import "echarts/map/js/province/fujian"; // 福建
  import Tools from '../utils/tools'
  // import util from '../assets/js/util'

  export default {
    name: 'EEchart',
    // 每个页面根据自己的需求传echart的高度值
    props: {
      height: {
        type: Number,
        default: 500
      },
      opt: {
        type: Object
      }
    },
    data () {
      return {
        myChart: null,
        width: null
      }
    },
    computed: {
      isCollapse () {
        return this.$store.state.isCollapse
      }
    },
    watch: {
      isCollapse () {
        const me = this
        if (me.myChart) me.myChart.resize()
      },
      opt: {
        handler (val) {
          this.myChart.setOption(val, true)
        },
        deep: true
      }
    },
    methods: {
      init (opt) {
        const me = this
        if (!me.myChart) me.myChart = echarts.init(this.$refs.chart)
        // 后面的true选项可以让echart图表重新渲染
        me.myChart.setOption(opt, true)
        me.myChart.on('click', function (params) {
          me.$emit('eclick', params)
        })
        // 高度固定，宽度自适应
        // window.addEventListener('resize', this.resizeChart(me))

        // util.listener(window, 'resize', () => {
        //   if (me.myChart) me.myChart.resize()
        // })
      },
      resizeChart: Tools.debounce( (that) => {
        // console.log('method that.myChart', that.myChart)
        if (that.myChart) that.myChart.resize()
        // console.log('method this.myChart', this.myChart)
      }),
      setOption (opt) {
        const me = this
        if (me.myChart) {
          setTimeout(() => { me.myChart.setOption(opt, true) }, 100)
        }
      },
      dispose () {
        if (this.myChart) {
          this.myChart.dispose()
          this.myChart = null
        }
      }
    },
    mounted () {
      this.init(this.opt)
    },
    beforeUnmount () {
      window.removeEventListener('resize', this.resizeChart(this))
      setTimeout(() => { this.myChart = null }, 200)
    }
  }
</script>

<style scoped lang="scss">
  .echart{
    height: 100%;
    width: 100%;
  }
</style>
